/*#content > div {
	display: flex;
}*/
.invisible{
	display: none;
}
.visible{
	display: block;
}
.items{
	display: flex;
	width: 100%;
}
.item img{
	width: 300px;
	height: auto;

}
nav li{
	cursor: pointer;
}
